
body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

#page-loading{
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
} 
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#cam-views{
    margin-top: 48px;
}

.navbar{
    border-bottom: 2px solid #aaa;
}

.cam-view {
    float: left;
    margin: 10px 5px 0;
    border: 2px solid #aaa;
    border-radius: 5px;
    zoom: 1;
}

.cam-header{
    padding: 5px 8px;
}

.cam-stream{
    width: 640px;
    height: 360px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    background-color: #555;
}

.cam-stream img{
    -webkit-user-select: none;
    background-color: #555;
    cursor: pointer;
}

.cam-action-icons{
    text-align: right;
}

.cam-loading-icon{
    padding: 145px 0;
}

.cam-action-icons i{
    padding: 8px 5px;
    cursor: pointer;
}
